@import "bootstrap-sprockets";
@import "bootstrap";

.friends {
	float: right;
	margin-left: 40px;
}

.posts {
	float: left;
}

.user {
	padding: 10px;
	margin: 5px;
	margin-left: 40px;
	border: solid #BBB;
	border-width: 0.5px;
	width: 300px;
	&:hover {
		background-color: #AFB;
	}
}

.banner {
	margin-bottom: 50px;
	margin-left: 50px;
}

.post_form {
	margin-bottom: 40px;
}

.friend_request {
	
}

